@use "../abstract" as *;

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  .nav {
    .nav-container {
      background-color: rgba($color: #e9e9e4, $alpha: 0.9);
    }
  }

  .responsiveMenu {
    background-color: rgba($color: #e9e9e4, $alpha: 0.9);
    a {
      color: $black;
      &:hover {
        color: $gray;
      }
    }
  }
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  .responsiveMenu {
    background-color: rgba($color: #1b2130, $alpha: 0.9);
    a {
      color: $gray;
      &:hover {
        color: $white;
      }
    }
  }
  .button {
    color: $white;
    border: 2px solid rgba(211, 209, 209, 0.1);
  }

  .nav {
    .nav-container {
      background-color: rgba($color: #1b2130, $alpha: 0.9);
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  min-height: calc(100vh - 100px);
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 100px;
}

.page-content {
  display: flex;
  gap: 50px;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: $gray;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
  .nav-container {
    .logo {
      font-size: 32px;
    }
    .links {
      font-size: 18px;
      gap: 15px;
    }
  }

  .feature-container {
    .feature-title {
      font-size: 72px;
    }

    .feature-imgContainer {
      display: none;
    }
  }
  .card-container {
    .card-imageContainer {
      display: none;
    }
  }
  .imageContainer {
    display: none;
  }
}

@media screen and (max-width: $laptop) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .feature-container {
    .feature-title {
      font-size: 64px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .wrapper {
    max-width: 640px;
  }
  .nav-container {
    .logo {
      font-size: 24px;
    }
  }
  .feature-container {
    .feature-title {
      font-size: 48px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    max-width: 475px;
  }
  .feature-title {
    font-size: 36px;
  }
}
