@use "../abstract/" as *;
.categories-container {
  margin-top: 25px;
  margin-bottom: 10px;
  .categories-title {
    margin: 50px 0px;
  }
  .categories {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    .category {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 15%;
      height: 60px;
      justify-content: center;
      border-radius: 10%;
      &:first-child {
        background-color: $style;
      }
      &:nth-child(2) {
        background-color: $fashion;
      }
      &:nth-child(3) {
        background-color: $food;
      }
      &:nth-child(4) {
        background-color: $travel;
      }
      &:nth-child(5) {
        background-color: $culture;
      }
      &:nth-child(6) {
        background-color: $coding;
      }
      .categories-image {
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  .categories-container {
    .categories {
      .category {
        width: 20%;
      }
    }
  }
}

@media screen and (max-width: $laptop) {
  .categories-container {
    .categories {
      .category {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .categories-container {
    .categories {
      .category {
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .categories-container {
    .categories {
      .category {
        width: 100%;
      }
    }
  }
}
