// COLOR
$white: white;
$black: black;
$facebook: rgb(3, 128, 211);
$insta: rgb(230, 85, 109);
$gray: gray;
$github: gray;
$style: #57c4ff31;
$fashion: #b7d423;
$food: #f097ce;
$travel: #97a4f0;
$culture: #23db4b;
$coding: #f0b897;
$softBg: #f0f0f0;
$softTextColor: #626262;

:export {
  white: $white;
  black: $black;
  gray: $gray;
  softBg: $softBg;
  facebook: $facebook;
  github: $github;
  insta: $insta;
  style: $style;
  fashion: $fashion;
  food: $food;
  travel: $travel;
  culture: $culture;
  coding: $coding;
  softTextColor: $softTextColor;
}
