@use "../abstract/" as *;

.page-container {
  .page-infoContainer {
    display: flex;
    align-items: center;
    gap: 50px;
    .page-textContainer {
      flex: 1;
      .title {
        font-size: 64px;
        margin-bottom: 50px;
      }
      .page-user {
        display: flex;
        align-items: center;
        gap: 20px;
        .page-userImageContainer {
          width: 50px;
          height: 50px;
          position: relative;
          .avatar {
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .page-userTextContainer {
          display: flex;
          flex-direction: column;
          gap: 5px;
          color: var(--softTextColor);
          .username {
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }
    .page-imageContainer {
      flex: 1;
      height: 350px;
      position: relative;
      .image {
        object-fit: cover;
      }
    }
  }
  .page-content {
    .page-post {
      flex: 5;
      margin-top: 60px;
      .description {
        p {
          font-size: 20px;
          font-weight: 300;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .page-container {
    .page-infoContainer {
      display: flex;
      .page-textContainer {
        .title {
          width: 100%;
        }
        .page-user {
          display: flex;
          position: relative;
          .page-userImageContainer {
            display: none;
          }
        }
      }
    }
    .page-imageContainer {
      display: none;
    }
  }
}
